    *{
	padding: 0px;
	margin: 5px;
}

	td{
	border: solid black 1px;
	width: 30px;
	height: 30px;	
}
	
	table{
	border-collapse: collapse;
}

	tr:nth-child(odd) td:nth-child(odd), 
	tr:nth-child(even) td:nth-child(even){
	background-color: black;
}
	
	table.chess tr:first-child td{
	background-color: #90ee90;
	height: 15px;
}
	table.chess tr td:first-child{
	background-color: #90ee90;
	width: 15px;
}

table.chess tr:last-child td{
	background-color: #90ee90;
	height: 15px;
}
	table.chess tr td:last-child{
	background-color: #90ee90;
	width: 15px;
}