body{
    font-family: "Roboto", sans-serif;
    background-color: #f5f5f5;
}

.container{
    margin: 0 auto;
    background-color:#EAEDEF;
    width: 1280px;
    height: 30px;
}

.clearfix{
    content: '';
    display: block;
    clear: both;
}

.image{
    float: left;
    padding: 5px;
}

.number{
    padding-left: 30px;
    display: inline-block;
}

.menu{
    float: right; 
    text-align: center;
    padding-top: 7px;
}
 .logo{
    padding-top: 20px;
 }

 .catalog{
    background-color:#BA257D;
    border-radius: 5px;
    text-align: center;
    color: white;
    margin-left: 20px;
    display: inline-block;
    vertical-align: 12px;
    padding: 11px 30px;
 }

 .click{
    padding-right: 15px;
 }

.search{
    background-color: white;
    border: solid #BA257D 1px;
    border-radius: 5px;
    width: 522px;
    height: 37px;
    display: inline-block;
    margin-left: 20px;
    text-align: right;
}

.click{
    font-size: 10px;
}

.contacts{
    font-size: 10px;
    width: 24px;
    height: 24px;
    display: inline-block;
    text-align: center;
    padding-left: 30px;
}

.like{
    font-size: 10px;
    width: 24px;
    height: 22px;
    display: inline-block;
    text-align: center;
    padding-left: 50px;
}

.analysis{
    font-size: 10px;
    width: 20px;
    height: 22px;
    display: inline-block;
    text-align: center;
    padding-left: 70px;
}

.shop{
    font-size: 10px;
    width: 19.5px;
    height: 17.13px;
    display: inline-block;
    text-align: center;
    padding-left: 75px;
}

.text{
    font-size: 12px; 
    padding-top: 10px;
    display: inline-block;
    vertical-align: 2px;
}

.star{
    vertical-align: -2px;
    margin-left: 2px;
}

.banner{
    width: 955px;
    height: 433.91px;
    border-radius: 4px;
    margin-top: 10px;
    display: inline-block;
}

.slide{
    width: 305px;
    height: 434px;
    border-radius: 4px;
    border: solid 1px #33333326;
    background-color: #FFFFFF;
    float: right;
    margin-top: 10px;
}

.sale{
    padding-left: 15px;
    padding-top: 20px;
    font-size: 16px;
}

.timer{
    padding-left: 15px;
    padding-top: 3px;
    color:#FF0000;
    font-size: 17px;
}

.bad{
    width: 248.57px;
    height: 180px;
    margin-left: 27px;
}

.sales{
    float: right;
    padding-right: 50px;
    display: inline-block;
    margin-bottom: -35px;
    margin-top: 15px;
}

.scircle{
    color: #FAED38;
    float: right;
    display: inline-block;
    margin-right: -60px;
    text-align: center;
    margin-top: 30px;
}

.twenty{
    color: #FAED38;
    font-size: 20px;
}

.badname{
    font-size: 12px;
    width: 149px;
    height: 28px;
    padding-left: 15px;
    display: inline-block;
}

.status{
    padding-left: 15px;
    color: #BA257D;
    font-size: 12px;
    padding-top: 2px;
    vertical-align: 5px;
}

.reviews{
    display: inline-block;
    margin-top: 10px;
    vertical-align: 2px;
}

.views{
    display: inline-block;
    padding-left: 5px;
    color: #888888;
    font-size: 12px;
}

.lastcent{
    font-size: 10px;
    color: #888888;
    padding-left: 15px;
    padding-top: 15px;
}

.newcent{
    color: #333333;
    font-size: 20px;
    padding-left: 15px;
}

.magazin{
    background-color:#BA257D;
    border-radius: 5px;
    text-align: center;
    color: white;
    display: inline-block;
    margin-left: 10px;
    vertical-align: 5px;
    padding: 10px 33px;
    font-size: 10px;
 }

 .new{
    color: #333333;
    font-size: 32px;
    margin-top: 30px;
 }

 .strelka{
    vertical-align: -4px;
    padding-left: 10px;
 }

 .slider_item{
    width: 197px;
    height: 261px;
    margin: 15px 16px 25px 0px;
    float: left;
 }

 .slideshow{
    background-color: #B3B3FF;
    border-radius: 5px;
    text-align: center;
    color: white;
    display: inline-block;
    width: 77px;
    height: 24px;
    font-size: 10px;
    vertical-align: 5px;
    padding-top: 7px;
    position: absolute;
 }

 .points{
    background-position: 50px;
    margin-left: 75px;
    margin-bottom: 10px;
 }

 .cardscent{
    font-size: 20px;
 }

 .cardsline{
    color: #888888;
    font-size: 10px;
    margin-left: 2px;
 }

 .onebad{
    width: 140px;
    height: 28px;
    color: #888888;
    font-size: 12px;
    margin-top: 5px;
 }

 .onestar{
    margin-top: 5px;
    color: #BA257D;
    font-size: 12px;
    vertical-align: 2px;
 }

 .stares{
    vertical-align: -1px;
 }

 .shopping{
    margin: 9px 0px;
 }

 .slideshow_item{
    background-color: #ff0000;
    border-radius: 5px;
    text-align: center;
    color: white;
    display: inline-block;
    width: 77px;
    height: 24px;
    font-size: 10px;
    vertical-align: 5px;
    padding-top: 7px;
    position: absolute;
 }

.slideshow_items{
    background-color: #FAED38;
    border-radius: 5px;
    text-align: center;
    color: black;
    display: inline-block;
    width: 77px;
    height: 24px;
    font-size: 10px;
    vertical-align: 5px;
    padding-top: 7px;
    position: absolute;
}

.cards{
    width: 184px;
    height: 255px;
    background-image: url(../img/background.png);
    padding-top: 15px;
}

.logotype{
    background-image: url(../img/logo_me_mi.png);
    background-size: contain;
    width: 88.64px;
    height: 30px;
    margin: 0 auto;
    background-repeat: no-repeat;
}

.border{
    border: solid 1px #BA257D;
    border-radius: 5px;
    padding: 5px;
    display: inline-block;
    margin: 5px 14px 0px 0px;
}

.sofa{
    background-image: url(../img/sofa.png);
    background-size: contain;
    width: 157px;
    height: 65px;
    background-repeat: no-repeat;
    margin: 0 auto;
    padding-top: 136px;
    background-position: center bottom;
}

.text_new{
    text-align: center;
    padding-top: 45px;
    padding-bottom: 2px;
}

.text_sofa{
    text-align: center;
}

.block_category{
    font-size: 32px;
    margin-top: 25px;
    margin-bottom: 15px;
  }

  .card_four{
    background-color: #FFFFFF;
    width: 305px;
    height: 159px;
    border-radius: 5px;
    background-image: url(../img/yellow_card.png);
    padding-left: 140px;
    padding-top: 60px;
    overflow: hidden  
}

  .sofa_right{
    background-image: url(../img/sofa.png);
    background-size: contain;
    width: 250px;
    height: 104.55px;
}

.sum{

}

.light_mebel{
    margin-right: 10px;
}