table{
    border-collapse: collapse;
}

col{
    min-width: 150px; background: #F0E68C;
}

tr{
    background: #ADD8E6;
}

th{
    color: blue; padding: 15px;
}

h3{
    padding: 30px 0px 0px 20px;
}

ul{
    list-style-type: disc; 
    padding: 10px 30px 50px 40px;"
}